
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: 'Merriweather', serif;
}

a {
  color: #353535;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #123f2c;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

.titulo {
  font-weight: bold;
  color: #294127!important;
  text-align: center!important;
}

.titulolight {
  font-weight: bold;
  color: #fff3e7!important;
  text-align: center!important;
}

.raya {
  font-weight: bold;
  color: #ffa9a3!important;
  text-align: center;
  margin-top: -20px;
}

/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.jpg) top center;
  background-size: cover;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero .hero-logo {
  margin: 20px;
}

#hero .hero-logo img {
  max-width: 100%;
}

#hero .hero-container {
  background: rgba(0, 0, 0, 0);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #ccc;
  margin-bottom: 50px;
}

#hero h2 span {
  color: #fff;
  transition: 0.3s;
  border-bottom: 2px solid #03C4EB;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #hero h2 .rotating {
    display: block;
  }
}

#hero .rotating > .animated {
  display: inline-block;
}

#hero .actions a {
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#hero .btn-tienda {
  background: #6c7e70;
  border: 0px;
  color: #fff3e7;
  border-radius: 0px;
}

#hero .btn-tienda:hover {
  background: #294127;
  border: 0px;
  color: #fff3e7;
  border-radius: 0px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff3e7;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #294127;
}

#header .logo img {
  height: 50px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

.is-sticky #header {
  background: rgba(255, 243, 231, 0.85);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #294127;
  transition: 0.3s;
  font-size: 14px;
  font-family: 'Merriweather', serif;
}

.active {
  color: #294127;
  text-decoration: underline;
  font-weight: bold;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #294127;
  text-decoration: underline;
  font-weight: bold;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff3e7;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #333333;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color:  #6c7e70;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 25px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #6c7e70;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #6c7e70;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 0px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}
 
.mobile-nav a {
  display: block;
  position: relative;
  color: #fff3e7;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #fff3e7;
  font-weight: bold;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(26, 26, 26, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Home Slider
--------------------------------------------------------------*/
#homeSlider {
  width: 100%;
  height: calc(100vh - 114px);
  padding: 0;
  overflow: hidden;
}

#homeSlider .carousel-item {
  width: 100%;
  height: calc(100vh - 114px);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
}

#homeSlider .carousel-item::before {
  content: '';
  background-color: rgba(19, 18, 1, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#homeSlider .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#homeSlider .carousel-content {
  text-align: left;
}

@media (max-width: 992px) {
  #homeSlider, #homeSlider .carousel-item {
    height: calc(100vh - 70px);
  }
  #homeSlider .carousel-content.container {
    padding: 0 50px;
  }
}

#homeSlider h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
}

#homeSlider p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  color: #fff;
}

#homeSlider .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#homeSlider .carousel-inner .carousel-item,
#homeSlider .carousel-inner .active.carousel-item-left,
#homeSlider .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#homeSlider .carousel-inner .active,
#homeSlider .carousel-inner .carousel-item-next.carousel-item-left,
#homeSlider .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#homeSlider .carousel-inner .carousel-item-next,
#homeSlider .carousel-inner .carousel-item-prev,
#homeSlider .carousel-inner .active.carousel-item-left,
#homeSlider .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#homeSlider .carousel-control-prev, #homeSlider .carousel-control-next {
  width: 10%;
}

#homeSlider .carousel-control-next-icon, #homeSlider .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#homeSlider .carousel-indicators li {
  cursor: pointer;
}

#homeSlider .btn-get-started {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 0px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 0;
  background: #6c7e70;
}

#homeSlider .btn-get-started:hover {
  background: #294127;
}

@media (max-width: 768px) {
  #homeSlider h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #homeSlider p {
    width: 60%;
  }
  #homeSlider .carousel-control-prev, #homeSlider .carousel-control-next {
    width: 5%;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@media (max-width: 1025px) {
  .sliderimage {
    display: none;
  }
  #homeSlider p {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  padding-top: 30px;
  background-color: #3c3b39;
  color: #fff3e7;
}

.footerlink {
  color: #fff3e7!important;
}

.footer-text {
  font-size: 9pt;
}

.footer-address-icon {
  padding-right: 10px;
  color: #d5b182!important;
}

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Inicio
--------------------------------------------------------------*/

/*---Seccion de Mas Vendidas---*/
.masvendidas {
  padding-top: 50px;
  background-color: #fff3e7;
  padding-bottom: 50px;
}

/*---Parallax window---*/
.fotocomentarios {
  height: 500px;
  width: 100%;
  max-height: 50%;
  background: url(../img/hero-bg.jpg) center;
  background-size: cover;
  background-attachment: fixed;
}

/*---Seccion de Comentarios---*/
.comentarios {
  padding-top: 50px;
  background-color: #6c7e70;
  padding-bottom: 50px;
}

.card-comentarios {
  flex: 1 400px;
  margin-top: 10px;
  background-color: #fff3e7;
  border-radius: 0%;
}

.card-img-top {
  border-radius: 100%;
  padding: 10%;
}

.cliente {
  font-weight: bold;
  color: #d5b182;
  text-align: right;
}

/*--------------------------------------------------------------
# Tienda
--------------------------------------------------------------*/

.sitiotienda {
  padding-top: 50px;
  background-color: #fff3e7;
  padding-bottom: 50px;
}

/*--------------------------------------------------------------
# Marcas
--------------------------------------------------------------*/

.sitiomarcas {
  display: table;
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  background: url(../img/hero-bg.jpg) center;
  background-size: cover;
  background-attachment: fixed;
}

.marcas {
  background-color: #fff3e7;
  width: 80%;
}

.imgmarcas {
  padding: 50px 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.msgmarcas {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.titulomarcas {
  padding-top: 50px;
}

/*--------------------------------------------------------------
# 
--------------------------------------------------------------*/